{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Lab3{% endblock %}
{% block content %}
{{ wtf.quick_form(form, method='post',enctype="multipart/form-data", action="/") }}

{% if image %}
<table>
 <tr>
  <h4>Исходное изображение: </h3>
  <p>{{image}}
  <p><img src="{{image}}" class="img-rounded" alt="My Image" width = 224 height=224 />
 </tr>
 <tr>
  <h4>График: </h4>
  <p><img src="{{graph1}}" class="img-rounded" alt="My Graph" width = 500 height=300 />
 </tr>
 <tr>
  <h4>График: </h4>
  <p><img src="{{graph2}}" class="img-rounded" alt="My Graph" width = 500 height=300 />
 </tr>
</table>
{% endif %}
{% endblock %}
